@import "tailwindcss";
@import "tw-animate-css";
@import "tailwindcss-animated";
@import "./styles/custom-animations.css";
@import "./styles/glass-effect.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-hover: #f9fafb;
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);

  /* Typography */
  --muted: #737373;
  --muted-foreground: #6b7280;

  /* Styles Graphics */
  --income-pie-0: #35fec2;
  --income-pie-1: #28ebb0;
  --income-pie-2: #1bd79e;
  --income-pie-3: #0dc48c;
  --income-pie-4: #00b07a;
  --income-pie-5: #84ccad;
  --income-pie-6: #a3d9c2;
  --income-pie-7: #c1e6d6;
  --income-pie-8: #e0f2eb;
  --income-pie-9: #ffffff;
  --income-pie-10: #c4e5d7;
  --income-pie-11: #a0c0b3;
  --income-pie-12: #7c9c8e;
  --income-pie-13: #59776a;
  --income-pie-14: #355246;

  --expense-pie-0: #c32945;
  --expense-pie-1: #af1f37;
  --expense-pie-2: #9a1528;
  --expense-pie-3: #860a1a;
  --expense-pie-4: #71000b;
  --expense-pie-5: #ad2338;
  --expense-pie-6: #b17171;
  --expense-pie-7: #c59494;
  --expense-pie-8: #d8b8b8;
  --expense-pie-9: #ecdbdb;
  --expense-pie-10: #ffffff;
  --expense-pie-11: #be3244;
  --expense-pie-12: #ce4251;
  --expense-pie-13: #df515d;
  --expense-pie-14: #ef616a;

  --balance-graph-0: #240047;
  --income-graph-0: #58ce74;
  --expense-graph-0: #fc3a51;
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-hover: #262626;
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);

  /* Typography */
  --muted: #737373;
  --muted-foreground: #6b7280;

  /* Styles Graphics */
  --income-pie-0: #35fec2;
  --income-pie-1: #28ebb0;
  --income-pie-2: #1bd79e;
  --income-pie-3: #0dc48c;
  --income-pie-4: #00b07a;
  --income-pie-5: #84ccad;
  --income-pie-6: #a3d9c2;
  --income-pie-7: #c1e6d6;
  --income-pie-8: #e0f2eb;
  --income-pie-9: #ffffff;
  --income-pie-10: #c4e5d7;
  --income-pie-11: #a0c0b3;
  --income-pie-12: #7c9c8e;
  --income-pie-13: #59776a;
  --income-pie-14: #355246;

  --expense-pie-0: #c32945;
  --expense-pie-1: #af1f37;
  --expense-pie-2: #9a1528;
  --expense-pie-3: #860a1a;
  --expense-pie-4: #71000b;
  --expense-pie-5: #ad2338;
  --expense-pie-6: #b17171;
  --expense-pie-7: #c59494;
  --expense-pie-8: #d8b8b8;
  --expense-pie-9: #ecdbdb;
  --expense-pie-10: #ffffff;
  --expense-pie-11: #be3244;
  --expense-pie-12: #ce4251;
  --expense-pie-13: #df515d;
  --expense-pie-14: #ef616a;

  --balance-graph-0: #f6f3ba;
  --income-graph-0: #81e36a;
  --expense-graph-0: #ef616a;
}

@import "./styles/themes.css";

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
